.phone {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 1em;
  height: 1em;
  font-size: 5rem;
  border: 3px solid #3498db;
  box-sizing: content-box;
  border-radius: 50%;
  transform: translate3d(0, 0, 0) scale(1);
  box-shadow: 0 0 0 0em rgba(52, 152, 219, 0);
}

.phone::before,
.phone::after {
  position: absolute;
  content: "";
}

.phone::before {
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  opacity: 1;
  transform: translate3d(0, 0, 0) scale(0);
}

.phone::after {
  top: 0.3em;
  left: 0.3em;
  width: 0.4em;
  height: 0.4em;
  background: url("../public/phone.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate3d(0, 0, 0);
}

.phone.is-animating {
  animation: pulse 3000ms infinite, phone-outer 3s infinite;
}
.phone.is-animating::before {
  animation: phone-inner 3000ms infinite;
}
.phone.is-animating::after {
  animation: phone-icon 3000ms infinite;
}

@keyframes phone-outer {
  0% {
    box-shadow: 0 0 0 0em rgba(52, 152, 219, 0);
  }
  33.3333% {
    box-shadow: 0 0 0 0em rgba(52, 152, 219, 0.1);
  }
  66.6666% {
    box-shadow: 0 0 0 0.5em rgba(52, 152, 219, 0);
  }
  100% {
    box-shadow: 0 0 0 0em rgba(52, 152, 219, 0);
  }
}

@keyframes phone-inner {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(0);
  }
  33.3333% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(0.9);
  }
  66.6666% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale(0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale(0);
  }
}

@keyframes phone-icon {
  0% {
    transform: translate3d(0em, 0, 0);
  }
  2% {
    transform: translate3d(0.01em, 0, 0);
  }
  4% {
    transform: translate3d(-0.01em, 0, 0);
  }
  6% {
    transform: translate3d(0.01em, 0, 0);
  }
  8% {
    transform: translate3d(-0.01em, 0, 0);
  }
  10% {
    transform: translate3d(0.01em, 0, 0);
  }
  12% {
    transform: translate3d(-0.01em, 0, 0);
  }
  14% {
    transform: translate3d(0.01em, 0, 0);
  }
  16% {
    transform: translate3d(-0.01em, 0, 0);
  }
  18% {
    transform: translate3d(0.01em, 0, 0);
  }
  20% {
    transform: translate3d(-0.01em, 0, 0);
  }
  22% {
    transform: translate3d(0.01em, 0, 0);
  }
  24% {
    transform: translate3d(-0.01em, 0, 0);
  }
  26% {
    transform: translate3d(0.01em, 0, 0);
  }
  28% {
    transform: translate3d(-0.01em, 0, 0);
  }
  30% {
    transform: translate3d(0.01em, 0, 0);
  }
  32% {
    transform: translate3d(-0.01em, 0, 0);
  }
  34% {
    transform: translate3d(0.01em, 0, 0);
  }
  36% {
    transform: translate3d(-0.01em, 0, 0);
  }
  38% {
    transform: translate3d(0.01em, 0, 0);
  }
  40% {
    transform: translate3d(-0.01em, 0, 0);
  }
  42% {
    transform: translate3d(0.01em, 0, 0);
  }
  44% {
    transform: translate3d(-0.01em, 0, 0);
  }
  46% {
    transform: translate3d(0em, 0, 0);
  }
}
