/* GENERAL */

.container {
  @apply w-md self-center m-auto;
}

.container-main {
  @apply relative bg-white z-10;
}

.heading {
  @apply text-center my-6;
}

/* HEADER */

.nav-wrapper {
  @apply w-full fixed z-50 font-sans flex flex-col py-4 px-4 bg-white;
}

.nav {
  @apply w-full flex self-center justify-around;
}

.nav__link {
  @apply text-lg no-underline text-grey-darkest text-base;
}

.nav__link:hover {
  @apply text-blue-dark;
}

/* COVER */

.cover {
  @apply bg-cover bg-center relative w-screen h-screen;
  background-image: url("../public/cover.jpg");
}

.cover--parallax-wrapper {
  @apply h-screen overflow-x-hidden overflow-y-scroll;
  perspective: 1px;
  transform-style: preserve-3d;
}

.cover--parallax {
  @apply flex flex-grow flex-no-shrink relative z-0 h-screen justify-center items-center;
  transform: translateZ(-1px) scale(2);
}

.cover__overlay {
  @apply w-full h-full absolute flex items-center justify-center;
  background-color: rgba(0, 0, 0, 0.3);
}

.cover__overlay-text {
  @apply text-2xl text-white font-light uppercase;
}

.amp {
  @apply italic;
  font-size: 110%;
  font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
}

/* SECTION: SCHEDULE */

.timeline {
  @apply mx-4 relative;
  transition: all 0.4s ease;
}

.timeline:before {
  @apply h-full w-1 bg-grey-light absolute;
  content: "";
  left: 50%;
  top: 0;
}

.timeline:after {
  content: "";
  display: table;
  clear: both;
}

.timeline__item {
  @apply mb-12 relative;
}

.timeline__item:after {
  content: "";
  display: table;
  clear: both;
}

.timeline__icon-bg {
  @apply flex w-12 h-12 bg-grey-light absolute border-4 border-grey-light overflow-hidden items-center justify-center;
  left: 50%;
  top: 0;
  margin-left: -20px;
  border-radius: 50%;
}

.timeline__icon {
  @apply w-6 h-6;
}

.timeline__icon--dish {
  margin-top: -5px;
}

.timeline__content {
  @apply p-5 bg-grey-lightest rounded;
  width: 45%;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}

.timeline__header {
  @apply p-4 text-xl uppercase text-white bg-blue-dark rounded rounded-bl-none rounded-br-none;
  margin: -20px -20px 0 -20px;
}

.timeline__header:before {
  @apply absolute border-8 border-solid border-r-0 border-blue-dark;
  content: "";
  left: 45%;
  top: 20px;
  width: 0;
  height: 0;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.timeline__content--right {
  @apply float-right;
}

.timeline__header--right {
  @apply bg-red-dark;
}

.timeline__header--right:before {
  @apply border-l-0 border-r-8 border-red-dark;
  content: "";
  right: 45%;
  left: inherit;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.timeline__p {
  @apply my-4;
}

/* SECTION: O NÁS */

.about {
  @apply w-full px-6 leading-loose;
}

.about__caption {
  @apply w-full text-center text-base leading-none;
}

.about__caption--groom {
  @apply text-blue-darkest;
}

.about__caption--bride {
  @apply text-orange-light;
}

.about__name {
  @apply text-center font-light text-2xl;
}

.about__name--first {
  @apply font-extrabold;
}

.about__heading {
  @apply font-extrabold;
}

.about__text {
  @apply mb-4;
}

.about__text-block {
  @apply py-2;
}

.gender-symbol {
  @apply inline-block h-4;
}

/* RESPONSIVE */

@screen md {
  .nav {
    @apply w-md;
  }

  .cover__overlay-text {
    @apply text-4xl;
  }

  .about-wrapper {
    @apply bg-no-repeat bg-fixed bg-center;
    background-image: url("../public/map.svg");
    background-size: 130vw;
  }
}

@screen xl {
  .cover {
    @apply min-h-screen;
  }
}

@tailwind preflight;
@tailwind components;
@tailwind utilities;
