@import "../src/heart.css";
@import "../src/phone.css";
@import "../src/envelope.css";

/* GENERAL */

body {
  font-family: "PT Sans", sans-serif;
}

.l-container {
  @apply w-full self-center m-auto px-4;
}

.l-row {
  margin-right: -1rem;
  margin-left: -1rem;
}

.l-container-main {
  @apply relative bg-white z-10;
}

.heading {
  @apply text-center py-12;
}

.anchor {
  @apply block;
  transform: translateY(-3rem);
}

.amp {
  @apply italic;
  font-size: 110%;
  font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
}

/* WELCOME OVERLAY */

.welcome {
  @apply absolute flex justify-center items-center w-screen h-screen bg-white z-50 overflow-hidden;
  animation: show 2s 10s normal forwards;
}

@keyframes show {
  0% {
    z-index: 50;
  }

  100% {
    z-index: -1;
    opacity: 0;
  }
}

/* HEADER */

.l-nav {
  @apply w-full h-12 fixed justify-center z-40 flex flex-col px-4 bg-white border-b-2 border-grey-light border-solid;
}

.nav {
  @apply w-full flex self-center justify-around;
}

.nav__link {
  @apply no-underline text-grey-darkest text-base uppercase;
}

.nav__link:hover {
  @apply text-blue-dark;
}

/* COVER */

.l-cover-parallax {
  @apply h-screen overflow-x-hidden overflow-y-scroll;
  perspective: 1px;
  transform-style: preserve-3d;
}

.cover-parallax {
  @apply flex flex-grow flex-no-shrink relative h-screen justify-center items-center;
  transform: translateZ(-1px) scale(2);
}

.l-cover {
  @apply z-hide text-center bg-cover relative w-screen h-screen;
  background-position: center 40%;
  background-image: url("../public/cover.jpg");
}

.cover__overlay {
  @apply w-full h-full absolute flex flex-col items-center justify-center;
  background-color: rgba(0, 0, 0, 0.3);
}

.cover__heading {
  @apply text-3xl text-white uppercase;
}

.cover__subtitle {
  @apply text-xl text-grey-dark;
}

.countdown {
  @apply flex absolute;
  bottom: 3rem;
}

.countdown__subtitle {
  @apply absolute w-full text-center text-grey-light font-bold;
  top: -2rem;
}

.countdown__item {
  @apply px-4 text-grey-lighter text-3xl;
}

.countdown__caption {
  @apply text-base text-grey-light;
}

/* SECTION: SCHEDULE */

.l-map {
  @apply rounded overflow-hidden shadow-lg;
}

.map__content {
  @apply px-6 py-4;
}

.map__title {
  @apply font-bold text-xl mb-2;
}

.map__subtitle {
  @apply text-grey-darker text-base;
}

.l-iframe {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.l-timeline {
  @apply py-12 bg-grey-lightest;
}

.timeline {
  @apply ml-8 pr-4 relative;
  width: 90%;
  transition: all 0.4s ease;
}

.timeline:before {
  @apply h-full border-r-2 border-grey-light absolute;
  content: "";
  left: 0;
  top: 0;
}

.timeline:after {
  content: "";
  display: table;
  clear: both;
}

.timeline__header {
  @apply w-full py-2 px-6 mb-12 border-2 border-grey-light text-3xl relative inline-block text-grey-dark text-center;
}

.timeline__item {
  @apply mb-12 relative;
}

.timeline__item:last-child {
  @apply mb-0;
}

.timeline__item:after {
  content: "";
  display: table;
  clear: both;
}

.timeline__icon-bg {
  @apply flex w-12 h-12 bg-white absolute border-2 border-grey-light overflow-hidden items-center justify-center;
  left: 0;
  top: 0;
  margin-left: -22px;
  border-radius: 50%;
}

.timeline__icon {
  @apply w-6 h-6;
}

.timeline__icon--dish {
  margin-top: -5px;
}

.timeline__content {
  @apply p-5;
  width: calc(100% - 3rem);
  float: right;
  transition: all 0.4s ease;
}

.timeline__content:before {
  @apply border-blue-dark;
}

.timeline__content--right:before {
  @apply border-red-dark;
}

.timeline__content:before,
.timeline__content--right:before {
  @apply absolute border-8 border-l-0 border-solid;
  content: "";
  width: 0;
  height: 0;
  right: calc(100% - 3rem);
  top: calc(1.5rem - 8px);
  margin-left: -8px;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.timeline__content--right {
  @apply float-right;
}

.timeline__heading {
  @apply h-12 flex items-center justify-center text-xl uppercase text-black border-2 border-blue-dark rounded text-center;
  margin: -20px -20px 0 -20px;
}

.timeline__heading--right {
  @apply border-red-dark;
}

.timeline__p {
  @apply my-4 leading-normal;
}

.timeline__button {
  @apply py-8 opacity-50 bg-grey-lighter text-indigo-lighter rounded rounded-t-none text-center uppercase font-bold flex items-center justify-center;
  margin: 0 -20px -20px;
}

.timeline__button:hover {
  @apply bg-grey-light;
}

/* SECTION: O NÁS */

.about-wrapper {
  @apply py-12 bg-grey-darkest text-grey-light;
}

.l-about {
  @apply flex flex-col;
}

.about {
  @apply w-full px-4 leading-loose;
}

.about__avatar {
  @apply w-64 block m-auto;
}

.about__caption {
  @apply w-full text-center text-base leading-none;
}

.about__name {
  @apply text-center text-2xl;
}

.about__name--first {
  @apply font-extrabold;
}

.about__heading {
  @apply font-extrabold;
}

.about__text {
  @apply mb-4 text-grey-light;
  font-family: "Palatino Linotype", serif;
}

.about__text::first-letter {
  @apply leading-none font-serif float-left pr-2;
  font-size: 4rem;
}

.about__text-block {
  @apply py-2;
}

.gender-symbol {
  @apply inline-block h-4;
}

/* SECTION: DARY */

.l-gifts {
  @apply bg-red-darker;
}

.l-gifts .heading {
  @apply text-grey-lightest;
}

.gift__subtitle {
  @apply mb-12 text-grey-light text-center leading-normal;
}

.l-gift {
  @apply pb-12 flex flex-col;
}

.gift {
  @apply flex-1 mb-6 px-4;
}

.gift__heading {
  @apply text-2xl text-grey border-b pb-1;
}

.gift__text {
  @apply my-4 text-base text-grey-lighter leading-loose;
}

.gift__text a {
  @apply text-yellow-light;
}

.gift__button {
  @apply w-full py-4 px-8 mt-2 text-sm font-black border border-purple-dark text-purple-darker bg-white uppercase rounded font-mono;
}

.gift__button:hover {
  @apply border-purple-darkest;
}

.gift__button:focus {
  @apply outline-none;
}

/* SECTION: Kontakt */

.l-contacts {
  @apply bg-grey-light;
}

.l-contact {
  @apply pb-12 flex flex-col;
}

.contact__item {
  @apply flex-1 text-center text-white leading-normal;
}

.contact__item:first-child {
  @apply mb-12;
}

.contact__item--phone p {
  @apply text-blue-dark;
}

.contact__item--mail a {
  @apply text-red-dark;
}

.contact__info {
  @apply mt-12;
}

.contact__icon {
  @apply w-8 h-8 mb-4;
}

/* RESPONSIVE */

@screen sm {
  .l-contact {
    @apply flex-row;
  }
}

@screen md {
  .l-about {
    @apply flex-row;
  }
  .l-container {
    @apply w-md;
  }

  .l-gift {
    @apply flex-row;
  }

  .gift {
    @apply mb-0;
  }

  .nav {
    @apply w-md;
  }

  .cover__overlay-text {
    @apply text-4xl;
  }

  .l-timeline {
    @apply bg-no-repeat bg-fixed bg-center;
    background-image: url("../public/map.svg");
    background-size: 130vw;
  }

  .timeline {
    @apply ml-0 pr-0 w-auto;
  }

  .timeline:before {
    left: 50%;
  }

  .timeline__header {
    @apply w-auto bg-white border-2 border-grey-light;
    left: 50%;
    border-radius: 30% / 100%;
    transform: translateX(-50%);
  }

  .timeline__content {
    @apply float-none;
    width: 45%;
  }

  .timeline__content:before {
    @apply border-l-8 border-r-0;
    left: 45%;
    margin-left: 0;
  }

  .timeline__content--right {
    @apply float-right;
  }

  .timeline__content--right:before {
    @apply border-l-0 border-r-8;
    left: inherit;
    right: 45%;
  }

  .timeline__icon-bg {
    left: 50%;
  }
}

@screen xl {
  .cover {
    @apply min-h-screen;
  }
}

@tailwind preflight;
@tailwind components;
@tailwind utilities;

@keyframes pulse {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
  }
  33.3333% {
    transform: translate3d(0, 0, 0) scale(1.1);
  }
  66.6666% {
    transform: translate3d(0, 0, 0) scale(1);
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
  }
}
